@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .stroke-text {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
  }
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

::-webkit-scrollbar{
  display: none;
}
